//GRID 
@mixin respond($breakpoint) {
    @if $breakpoint == mo-s {
        @media (max-width: 320px) { 
            @content;
          }        
    }
    @if $breakpoint == mo-m {
        @media (max-width: 375px) { 
            @content;
          }        
    }
    @if $breakpoint == mo-l {
        @media (max-width: 425px) { 
            @content;
          }        
    }
    @if $breakpoint == tab {
        @media (max-width: 768px) { 
            @content;
          }        
    }
    @if $breakpoint == lap {
        @media (max-width:1024px){
            @content;
        }    
    }
    @if $breakpoint == lap-l {
        @media (max-width:1440px){
            @content;
        }    
    }
    @if $breakpoint == 4k {
        @media (min-width: 1440px) { 
            @content; 
          }        
    }

}


//POSITION

@mixin centerPosition{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin boxShadow($color:$color-black,$para:.1){
    box-shadow: 1rem .5rem .5rem rgba($color, $para);
}

@mixin boxShadow-small(){
    box-shadow: .4rem .3rem 1.1rem -.4rem #333333;;
}

@mixin hoverbtn{
    transform: translateY(-.5rem) rotate(3deg);
    background-color: $color-coral-light;
    color:$color-white;

    @include respond(tab){
        transform: translateY(-.5rem) rotate(0deg); 
    }
}

@mixin activebtn{
    transform: translateY(0rem) rotate(3deg);
    background-color: $color-coral-light;
    color:$color-white;

    @include respond(tab){
        transform: translateY(-.5rem) rotate(0deg); 
    }

}



// ANIMATIONS
@mixin aniFlashHighLight(){
    animation-name: flash-highlight;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}