// color variable
$color-black:black;
$color-white:white;
$color-primary: blue;
$color-grey-light:rgb(194, 193, 193);
$color-grey-dark:grey;
$color-coral-light:lightcoral;
$color-coral-dark:rgb(167, 86, 86);
$color-danger: red;
$color-secondary-dark:rgb(6, 139, 77);